<div class="container" id="cartFooter">
		  <div class="col-xs-2"></div>
  		<div class="col-xs-8"><p>ENTER PROMOTION COD OF GIFT CARD</p></div>
  		<div class="col-xs-2"></div>
	  	<div class="col-xs-2"></div>
	  	<div class="col-xs-10">
	  		<input class="input-sm" type="text" id="couponcode"></input> <button class="btn btn-footer btn-default"> APPLY</button>
	  	<hr>
	  	</div>
	  		
	    <div class="col-xs-12 footer-row">
  		  <div class="col-xs-9"><h5>SUBTOTAL</h5></div>
  	  	<div class="col-xs-3">100</div>
  	  </div>
  	 <div class="col-xs-12 footer-row">
      <div class="col-xs-9 shipping-free"><h5>ESTIMATED SHIPPING</h5><p>You spent 50 you qualify for free shopping</p></div>
  	 <div class="col-xs-3">FREE</div>
  	 </div>
  	 <div class="col-xs-12 footer-row">
      <div class="col-xs-9"><h5>PROMOTIONAL CODE<br><strong>JF10</strong>  APPLIED</h5>
      <hr>
    </div>
  	<div class="col-xs-3">7

  	</div>
  	</div>
  	<div class="col-xs-12 footer-row">
    <div class="col-xs-9 shipping-free"><h5>ESTIMITED TOTAL<h5><p>Tax will be applied while checkout</p></div>
  	<div class="col-xs-3">300</div>
  	</div>
  	  	  <div class="col-xs-12 footer-row"><button type="submit" class="btn btn-md btn-checkout btn-primary"> checkout</button></div>
  <div class="col-xs-12 btn-continue-shopping"><a><u><h5>CONTINUE SHOPPING</h5></u></a></div>
  <div class="col-xs-2"></div>
  <div class="col-xs-8 shipping-free"><p>Secure checkout.Shopping is always safe & secure</p>
  <img src="images/lock.jpg">
  <hr>
  </div>
  <div class="col-xs-2"></div>
  <div class="col-xs-12 shipping-free sign-in"><p> <u>SIGN IN </u> to save your cart and have access your items on mobile tablet and tab</p></div>
</div>