 <div class="modal fade" id="itemDetailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
<ul class="media-list">
	    <li class="media">
	        <div class="media-left media-top">
                <a href="#">
                <img class="media-object img-thumbnail"
                 src='{{srcImg}}' alt="Preview Not Available">
                </a>
	        </div>
	        <div class="media-body">
				<div class="col-xs-12 col-sm-5"><strong>{{item.p_variation | uppercase}}</strong></div>
				<div class="col-xs-12 col-sm-1"><strong>{{item.p_name | uppercase}}</strong></div>
				<div class="col-xs-12 col-sm-1"><label>QTY:</label> <input class=" qty" id="inputdefault" type="number" value="{{item.p_quantity}}" /></div>
				<div class="col-xs-12 col-sm-1 h3"><strong>{{ item.p_price  | currency: item.c_currency:0  }}</strong></div>
				

	        </div>
	    </li>
    </ul>
      	<button  class="btn btn-primary item-edit" data-dismiss="modal">EDIT</button>



      </div>

    </div>
  </div>
</div>